.header {
    background-color: black;
}

/* メインタグの設定 */

.header__inner {
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    width: 100%;
}

.header__logo {
    color: #e6c820;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}
