/* 全体レイアウト */
.flex__item {
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    padding: 0 30px 0 30px;
}

.flex__header {
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
    align-items: flex-end;
}

.flex__search-ttl,
.current-search-term {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}

.create-button__link {
    font-size: 12px;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ffa929;
    font-weight: bold;
    color: #333;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

/* 親コンテナを追加してレイアウトを定義 */
.main-container {
    display: flex;
    margin-top: 20px;
}

/* 検索フォームのサイドバー */
.contents__left {
    width: 20%;
    max-width: 250px;
    /* サイドバーの幅を固定 */
    border-radius: 8px;
    margin: 0 20px 0 0;
   
}

/* 検索フォームのスタイル */
.search-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.search-form__item-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-sizing: border-box;
}


.search-form__item-select-sort,
.search-form__button-submit {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.search-form__button-submit {
    background-color: #f5c800;
    font-weight: bold;
    color: #333;
    border: none;
    cursor: pointer;
}

.search-form-sort-ttl {
    margin-top: 10px;
    font-weight: bold;
}


/* 商品カードのリスト */
.card-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* 商品カードのスタイル */
.card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.card:nth-child(3n) {
    margin-right: 0;
}

.card__image {
/* 画像をカードの上部に配置し、残りのスペースはコンテンツに割り当てる */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__content {
    height: 30%;
    padding: 10px;
    /* コンテンツの高さを均等にする */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__name,.card__price {
    font-size: 14px;
}

.card__content-common {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.pagination__flex {
    display: flex;
    justify-content: center;
    margin-left: 300px;
}

.pagination li {
    display: inline-block;
    width: 25px;
    list-style: none;
    border-radius: 50px;
    background-color:■#fff;
    text-align: center;
    margin: 0 5px;
}

.pagination li.active {
    background-color: #f5c800;
    color: #fff;
}

.pagination li a {
    text-decoration: none;
}